@import 'sass/variables';

.LocationCard {
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: $baseNumber * 1.5rem;
  background: $white;
  border-radius: $baseNumber * 0.75rem;
}

.LocationCard--icon__close {
  position: absolute;
  top: $baseNumber * 1.5rem;
  right: $baseNumber * 1.5rem;
  width: $baseNumber * 1rem;
  height: $baseNumber * 1rem;
  fill: $black;
  cursor: pointer;
}

.LocationCard--content {
  margin: 0 $baseNumber * 1.5rem 0 $baseNumber * 1.5rem;
  padding-top: $baseNumber * 3rem; 

  & h3 {
    color: $purple;
    font-weight: $bold;
  }
}

.LocationCard--content--updatedAt {
  font-weight: $bold;
  text-transform: uppercase;
}

.LocationCard--content--values {
  font-weight: $bold;
}